<div class="" id="transactions-content">
    <h3>Past Transactions</h3>
    <h4 *ngIf="transactions && transactions.valid.length" >Balance $ {{transactions.valid.slice(-1)[0].balance}}</h4>
    <ul class="files">
        <li *ngFor="let f of files" [ngClass]="{'file-active': active_file === f}" (click)=change_source(f)>{{f | fileName}}</li>
    </ul>
    <table *ngIf="transactions && transactions.valid.length" class="transactions-table">
        <thead>
            <th>ID</th>
            <th>Date</th>
            <th>Transaction</th>
            <th>Desc</th>
            <th>Amount</th>
            <th>Balance</th>
        </thead>
        <tbody>
            <tr *ngFor="let item of transactions.valid ">
                <td>{{item.activity_id}}</td>
                <td>{{item.date | date: 'shortDate'}}</td>
                <td>{{item.type}}</td>
                <td>{{item | txDescription}} </td>
                <td>{{item.amount}}</td>
                <td>{{item.balance}}</td>
            </tr>
        </tbody>
    </table>
    <div *ngIf="transactions && transactions.invalid.length">
        <h3 class="error">
            Transactions with error
        </h3>
        <span>Accept the transactions in the sequence</span>
        <p class="error">{{error}}</p>
        <table *ngIf="transactions && transactions.invalid.length" class="transactions-table">
            <thead>
                <th>ID</th>
                <th>Date</th>
                <th>Transaction</th>
                <th>Desc</th>
                <th>Amount</th>
                <th>Balance</th>
                <th>Action</th>
            </thead>
            <tbody>
                <tr *ngFor="let item of transactions.invalid; let idx = index">
                    <td>{{item.activity_id}}</td>
                    <td>{{item.date | date: 'shortDate'}}</td>
                    <td>{{item.type}}</td>
                    <td>{{item | txDescription}}</td>
                    <td>{{item.amount}}</td>
                    <td>{{item.balance}}</td>
                    <th><button (click)="accept_item(idx)">Accept</button></th>
                </tr>
            </tbody>
        </table>
    </div>
</div>