<section class="layout">
    <div class="header">
        <div class="title">
            Investing Account
        </div>
        <nav class="crumbs">
            <ol>
                <li [ngClass]="{'crumb-active': activeLink === '/transactions' || activeLink === '/' }" class="crumb">
                    <a routerLink="/transactions" routerLinkActive="active" ariaCurrentWhenActive="page">
                        Past Transactions
                    </a>
                </li>
                <li [ngClass]="{'crumb-active': activeLink === '/dashboard'}" class="crumb">
                    <a routerLink="/dashboard" routerLinkActive="active" ariaCurrentWhenActive="page">
                        Dashboard
                    </a>
                </li>
            </ol>
        </nav>
        <div>
            
        </div>
    </div>
    <div class="body">
        <router-outlet></router-outlet>
    </div>
    <div>3</div>
</section>